#firstDay{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}
.img-slider{
    position: relative;
    width: 100%;
    height: 100px; 
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0.50%);
}
.img-slider .slide.active{
    clip-path: circle(150% at 0.50%);
    transition: 1s;
    transition-property: clip-path;
}
.slide img {
    z-index: 1;
    width: 100%;
    height: 450px;
}
.img-slider .slide .info{
    position: absolute;
    margin-top: 230px;
    margin-left: 40px;
    top: 0;
    padding: 15px 30px;
    color: white;
}
.img-slider .slide .info div{
    background-color: white;
    color: grey;
    width: 100px;
    text-align: center;
    letter-spacing: 1px;
}
.img-slider .slide .info h4{
    font-size: 20px;
    margin-top: 14px;
}
.img-slider .slide .info .first-third-line{
    font-size: 18px;
    margin-top: -17px;
}
.img-slider .slide .info .first-fourth-line{
    position: relative;
    text-decoration: none;
    font-size: 12px;
    color: white;
    margin-top: 2px;
    margin-left: 2px;
    font-weight: 800;
    /*   */
}
.img-slider .slide .info .first-fourth-line:after{
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 3px;
    margin-left: -95px;
    bottom: -2px;
    transition: 0.1s;
}
.img-slider .slide .info .first-fourth-line:hover:after{
    width: 100px;
    padding-left: 5px;
}
/* Navigations Buttons */
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    top: -15px;
    left: 40%;
    margin-top: 400px;
    transform: translateX(50%);
}
.img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    bottom: 100px;
}
.img-slider .navigation .btn.active{
    background: black;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

/* Second div */

#secondDIV{
    margin-top: 380px;
    text-align: center;
}
#seconddivheading{
    font-size: 40px;
}
#seconddivtitle{
    font-size: 18px;
    margin-top: -20px;
    color: 
    #444444;
}
#butttonone{
    width: 150px;
    height: 40px;
    background-color: #e73e9b;
    color: white;
    font-weight: 500;
    border: none;
    letter-spacing: 1px;
}
#butttontwo{
    width: 150px;
    height: 40px;
    margin-left: 15px;
    color: #e73e9b;
    letter-spacing: 1px;
    background-color: white;
    border:1px solid grey;
}
#butttonone:hover{
    background-color: #e51075;
}
/* 
Third DIV */
#thirdDIV{
    font-size: 27px;
    color: #444444;
    margin-left: 55px;
    margin-top: 40px;
}
/* FourthDIV */
#fourthdiv{
    width: 94%;;
    margin: auto;
    border: 1px solid transparent;
    display: flex;
}
.randomclass{
    width: 292px;
    border: 1px solid transparent;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.imagefourthDIV{
    height: 260px;
    width: 290px;
    border: 1px solid transparent;
}
.imagefourthDIV img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.firstLinee{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstLinee p{
    font-size: 18px;
    color: #088397;
    margin-left: 8px;
}
.firstLinee img{
    width: 32px;
    height: 33px;
    margin-right: 5px
}
.secondLinee{
    margin-top: -5px;
    margin-left: 8px;
    font-size: 20px;
}
.thirdLinee{
    margin-top: -12px;
    margin-left: 8px;
    color: #444444;
    font-size: 14px;
    margin-right: 0px;
    line-height: 18px;
}
.fourthLinee{
    margin-top: 40px;
    margin-left: 8px;
    font-size: 16px;
    color: #444444;
}
.dollarline{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: -23px;
}
.dollarline p:first-child{
    font-size: 20px;
    font-weight: 500;
    margin-left: -25px;
}
.dollarline p:nth-child(2){
    margin-left: -65px;
    font-size: 13px;
}
.dollarline p:last-child{
    color: #676f86
}
.timeWatch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 9px;
    margin-top: -20px;
}
.timeWatch img{
    width: 23px;
    height: 23px;
    padding-right: 5px;
}


