/* * {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: benton-sans, Helvetica, "Sans-serif";
} */

#navbar {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 10px;
  position: sticky;
<<<<<<< HEAD
  top: 0;
  z-index: 999;
  background-color: white;
=======
    top: 0;
    z-index: 999;
    background-color: white;
>>>>>>> ae70b7cea9c7e6e1862d1b49915ad934383f4acf
}

.left,
.right {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.right {
  width: 30%;
}

#navbar h3:hover ,.right a:hover{
  cursor: pointer;
  color: rgb(247, 124, 144);
}

.right a {
  text-decoration: none;
  color: black;
}
