<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
</head>

<body>
    <div id="navbar">
        <div class="left">
            <img src="logo.png" alt="">
            <h3>Explore </h3>
            <h3>Our Top 10 Finds</h3>
            <h3>Team Favorites</h3>
            <img src="search.png" alt="">
        </div>
        <div class="right">
            <h3>Start a Campaign</h3>
            <h3>What We Do</h3>
            <h3>Log In</h3>
            <h3>Sign Up</h3>
        </div>
    </div>
</body>
</html>